<link href="/css/customer_table.css" rel="stylesheet" />

<tr>
    <td>{{this.Name}}</td>
    <td>{{this.PhoneNumber}}</td>
    <td>{{this.Address}}</td>
    <td>{{this.Type}}</td>
    <td>{{this.Remarks}}</td>
    <td>
    <span class = "update-button">
        <a href="/update_customer_page">Edit</a>
    </span>
    </td>
</tr>