<html>
    <head>
        <title>Delivery DB</title>
    </head>

    <body>
        {{#each posts}}
            Name: {{this.name}} <br>
            Mobile Number: {{this.phoneNumber}} <br>
            Date: {{this.date}} <br>
            Type: {{this.Type}} <br>
            Address: {{this.address}} <br>
            Gallons Ordered: {{this.galOrdered}} <br>
            Amount to be paid: {{this.amtDue}} <br>
            Status: {{this.status}} <br>
        {{/each}}
    </body>
</html>