<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Delivery Tracker - WPOS</title>
  <link href="/css/delivery_table.css" rel="stylesheet" />
  <link href="/css/tabs.css" rel="stylesheet" />
</head>

<body class="main-page">

  <div class="header-container">
    <div class="header-title"><a class="blue" href="/main_menu">Water Peak Online System</a></div>
    <p class="contacts">Contacts: 0917-8002885 0977-4916202</p>
  </div>
  
<div class="tab" id="tab_menu">

        <a href="/add_order_page">
          <button class="tab-button">
            <img src="/images/addOrder.png" alt="addordertab"/>
            <span>Add Order</span>
          </button>
        </a>
        
        <a href="/delivery_table">
          <button class="tab-button">
            <img src="/images/deliveryTracker.png" alt="deliverytrackerpng"/>
            <span>Delivery Tracker</span>
          </button>
        </a>

        <a href="/add_customer_page">
          <button class="tab-button">
            <img src="/images/addCustomer.png" alt="addcustomertab"/>
            <span>Add Customer</span>
          </button>
        </a>

        <a href="/customer_table">
          <button class="tab-button">
            <img src="/images/customerDatabase.png" alt="customerdbpng"/>
            <span>Customer Database</span>
          </button>
        </a> 
  </div>
  
  <div>
  <a class="home-button" href="/main_menu"><img src = "/images/home.png"></a>
  </div>

  <div class="footer-container">
    <div class="preFooter"></div>
    <div class="footer">
        <p class="footer-text">Copyright © 2023 | G2 Solutions</p>
    </div>
  </div> 

  <p id="revenue" hidden></p><p id="php" hidden>

  </div>


    <div class="filter-container">

        <form class="search-form" action="/search" method="post">
        <div class="prefill-form">
          <input name="search" class="prefill" id="search-name" type="text" placeholder="Search NAME"> 
        </div>
      </form>

      <form class="search-form" action="/search" method="post">
        <div class="prefill-form">
          <input name="search" class="prefill" id="search-number" type="text" placeholder="Search PHONE NUMBER"> 
        </div>
      </form>

      <form class="search-form" action="/search" method="post">
        <div class="prefill-form">
          <input name="search" class="prefill" id="search-address" type="text" placeholder="Search ADDRESS"> 
        </div>
      </form>

        <div class="button" onclick="window.location.reload()">
            Reset Filter
        </div>

    </div>

    <p id="filler2"></p>
    
    <div class="table-box">
      <table class="table" id="t1">
        <th class="status-bar">NAME</th>
        <th class="status-bar">PHONE NUMBER</th>

        <th class="status-bar">
          <form id="form" type="submit" >
            <label>DATE</label>
          <input type="date" id="date" onchange="formatDate()" title="Filter by date">
          </form>
        </th>

        <th class="status-bar">
          <div class="filter-box" id="type">
            <span class="filter-text" id="margin">TYPE</span>
            <button class="btn-filter btn-margin" id="btn-type" title="Filter by type"> V </button>
          </div>
        </th>

        <th class="status-bar" id="address">ADDRESS</th>
        <th class="status-bar" id="amount">BOTTLES ORDERED</th>
        <th class="status-bar" id="amount">AMOUNT PAID</th>

        <th class="status-bar" id="status">
          <div class="filter-box">
            <span class="filter-text" id="margin">STATUS</span>
            <button class="btn-filter" id="btn-status" title="Filter by status"> V </button>
          </div>
        </th>
        </th>

        <th class="status-bar">REMARKS</th>
        <th class="status-bar" id="update">UPDATE</th>

        {{#each order}}
          <tr>
            <td class="font" id="name">{{Name}}</td>
            <td class="font" id="phoneNum">{{PhoneNumber}}</td>
            <td class="font">{{Date}}</td>
            <td class="font">{{Type}}</td>
            <td class="font" title="Click to search address in Google Maps"><a href="https://www.google.com/maps?q={{Address}}" target="_blank">{{Address}}</a></td>
            <td class="font">{{GallonsOrdered}}</td>
            <td class="font">{{AmountDue}}</td>
            <td class="font">{{Status}}</td>
            <td class="font">{{Remarks}}</td>
            <td>
              <span class = "update-button">
                <a href="/update_order_page?id={{id}}">Edit</a>
              </span>
            </td>
          </tr>
        {{/each}} 

      </table>
    </div>
  <br><br><br>
  <script src="/JS/delivery.js"></script>
</body>

</html>